@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Theme
 * purple #461E52
 * pink #DD517F
 * yellow #E68E36
 * blue #556DC8
 * light blue #7998EE
 * grey #2c2e2b
 */

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: white;
}

body {
  background: #343633;
}

a {
  color: #556DC8;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */

.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: #fff;
  background: #7998EE;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

/**
 * Content Area
 */

.body {
  padding: 15px;
}
/**
 * Similar to Jumbotron
 */

.jumbo {
  padding: 50px;
  background: #40423e;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.list-header {
  text-align: center;
}

.button-list {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  > div, a {
    margin: 12px;
    padding: 4px;
    border: #461E52 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    > :first-child {
      margin-right: 8px;
    }
    &:hover {
      color: white;
      cursor: pointer;
      border: #DD517F 2px solid;
      background:rgba(235, 235, 235, 0.158);
    }
  }
}
