<div class="jumbo">
  <div class="right"></div>
  <h2>Welcome, user</h2>
  <p>May your lines be clean and your boost plentiful.</p>
</div>
<hr>
<br>
<h3 class="list-header">Waste Time</h3>
<div class="button-list">
    <a href="https://twitter.com">
        <FaIcon @icon="twitter" @prefix="fab" /> Twitter
    </a>
    <a href="https://www.reddit.com">
        <FaIcon @icon="reddit-alien" @prefix="fab" /> Reddit
    </a>
    <a href="https://www.youtube.com/feed/subscriptions">
        <FaIcon @icon="youtube" @prefix="fab" /> YouTube
    </a>
</div>
<hr>
<br>
<h3 class="list-header">Be Productive</h3>
<div class="button-list">
    <a href="https://duolingo.com/">
        <FaIcon @icon="crow" @prefix="fa" /> Duolingo
    </a>
    <a href="https://drive.google.com/">
        <FaIcon @icon="google-drive" @prefix="fab" /> Google Drive
    </a>
    <a href="https://app.prolific.co/studies">
        <FaIcon @icon="book-open" @prefix="fa" /> Prolific
    </a>
</div>
<hr>
<br>
<h3 class="list-header">Stalk Myself</h3>
<div class="button-list">
    <a href="https://twitter.com/delispaceranger">
        <FaIcon @icon="twitter" @prefix="fab" /> @DeliSpaceRanger
    </a>
    <a href="https://www.instagram.com/delbertina/reels/">
        <FaIcon @icon="instagram" @prefix="fab" /> @delbertina
    </a>
    <a href="https://www.tiktok.com/@delbertina">
        <FaIcon @icon="tiktok" @prefix="fab" /> @delbertina
    </a>
    <a href="https://www.youtube.com/user/DeliSpaceRanger">
        <FaIcon @icon="youtube" @prefix="fab" /> /DeliSpaceRanger
    </a>
    <a href="https://www.youtube.com/DeliSpaceCadet">
        <FaIcon @icon="youtube" @prefix="fab" /> /DeliSpaceCadet
    </a>
    <a href="https://www.discord.com">
        <FaIcon @icon="discord" @prefix="fab" /> @delbertina#5749
    </a>
    <a href="https://steamcommunity.com/id/delbertina/">
        <FaIcon @icon="steam" @prefix="fab" /> /delbertina
    </a>
    <a href="https://www.twitch.tv/delispaceranger">
        <FaIcon @icon="twitch" @prefix="fab" /> @DeliSpaceRanger
    </a>
    <a href="https://www.twitch.tv/delbertina">
        <FaIcon @icon="twitch" @prefix="fab" /> @delbertina
    </a>
    <a href="https://www.xbox.com/en-US/">
        <FaIcon @icon="xbox" @prefix="fab" /> delbertina
    </a>
    <a href="https://github.com/delbertina">
        <FaIcon @icon="github" @prefix="fab" /> @delbertina
    </a>
    <a href="https://snapchat.com/add/delbertina">
        <FaIcon @icon="snapchat" @prefix="fab" /> @delbertina
    </a>
    <a href="https://soundcloud.com/delbertina">
        <FaIcon @icon="soundcloud" @prefix="fab" /> @delbertina
    </a>
    <a href="https://magnarisa.net/">
        <FaIcon @icon="user-group"/> MagnaRisa
    </a>
</div>
<hr>
<br>