<div class="jumbo">
  <div class="right"></div>
  <h2>Welcome, user</h2>
  <p>May your lines be clean and your boost plentiful.</p>
</div>
<div class="socials-list">
    <div>
        <FaIcon @icon="twitter" @prefix="fab" /> @DeliSpaceRanger
    </div>
    <div>
        <FaIcon @icon="instagram" @prefix="fab" /> @DeliSpaceRanger
    </div>
    <div>
        <FaIcon @icon="youtube" @prefix="fab" /> /DeliSpaceRanger
    </div>
    <div>
        <FaIcon @icon="youtube" @prefix="fab" /> /DeliSpaceCadet
    </div>
    <div>
        <FaIcon @icon="discord" @prefix="fab" /> @delbertina#5749
    </div>
    <div>
        <FaIcon @icon="steam" @prefix="fab" /> /delbertina
    </div>
    <div>
        <FaIcon @icon="twitch" @prefix="fab" /> @DeliSpaceRanger
    </div>
    <div>
        <FaIcon @icon="twitch" @prefix="fab" /> @delbertina
    </div>
    <div>
        <FaIcon @icon="xbox" @prefix="fab" /> delbertina
    </div>
    <div>
        <FaIcon @icon="github" @prefix="fab" /> @delbertina
    </div>
    <div>
        <FaIcon @icon="snapchat" @prefix="fab" /> @delbertina
    </div>
    <div>
        <FaIcon @icon="soundcloud" @prefix="fab" /> @delbertina
    </div>
    <div>
        <FaIcon @icon="user-group"/> MagnaRisa
    </div>
</div>